.home {
  background-color: rgb(151, 73, 73);
  color: white;
  width: 100%;
  height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
}

.navbar__noAuth {
  height: 60px;
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  align-items: center;
  justify-items: center;
}

.loggin {
  grid-column: 3/4;
  background-color: white;
  border-radius: 5px;
  border: 1px solid white;
  padding: 5px 10px 5px 10px;
  color: black;
  cursor: pointer;
  display: grid;
  grid-template-columns: 0.2fr 1fr;
  align-items: center;
  justify-items: center;
  font-weight: 600;
}

.loggin__google {
  font-size: 20px;
}

.home__header {
  height: 100vh;
  width: 100%;
  background-color: rgb(179, 112, 162);
  display: grid;
  justify-items: center;
  align-items: center;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  align-self: end;
}
.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  4.9% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 0;
  }
  5% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}
