.home {
  background-color: hsla(289, 0%, 0%, 1);
  background-image: radial-gradient(
      at 44% 40%,
      hsla(272, 95%, 71%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 30% 25%, hsla(285, 70%, 71%, 1) 0px, transparent 50%),
    radial-gradient(at 85% 96%, hsla(186, 0%, 0%, 1) 0px, transparent 50%),
    radial-gradient(at 10% 49%, hsla(44, 81%, 78%, 1) 0px, transparent 50%),
    radial-gradient(at 85% 70%, hsla(313, 86%, 61%, 1) 0px, transparent 50%),
    radial-gradient(at 43% 39%, hsla(240, 37%, 30%, 1) 0px, transparent 50%),
    radial-gradient(at 84% 78%, hsla(309, 94%, 69%, 1) 0px, transparent 50%);
  color: white;

  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
}

.home__header {
  height: 100vh;
  width: 100%;

  display: grid;
  justify-items: center;
  align-items: center;
}

.header__container {
  height: 100%;
  width: 80%;
  min-width: 600px;
  display: grid;
  grid-template-columns: 1fr;

  align-items: center;
}

.header__title {
  justify-self: center;
  text-align: center;
}
.title__div {
  display: grid;
  align-items: center;
  justify-items: center;
  position: relative;
}

.title__h1 {
  font-size: 120px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-shadow: 1px 4px 5px rgba(0, 0, 0, 0.29);
  font-family: "Manrope", sans-serif;
}

.title__beta {
  width: 80px;
  display: grid;
  align-items: center;
  justify-items: center;
  border-radius: 15px;
  position: absolute;
  font-size: 32px;
  font-weight: 900;
  justify-self: end;
  align-self: end;
  color: rgb(226, 7, 7);
  margin-bottom: 20px;
}

.title__beta img {
  height: 60px;
  opacity: 0.9;
}

.title__h3 {
  font-size: 40px;
  color: rgb(255, 253, 253);
  font-weight: 600;
  font-family: "Manrope", sans-serif;
}

.title__p {
  font-size: 20px;
  font-weight: 800;
  color: rgb(255, 184, 52);
}

.header__img {
  border-radius: 50%;
  z-index: 40;
}

.header__img img {
  max-width: 600px;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;

  z-index: 40;
}

.home__about {
  min-height: 600px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.438);
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-rows: 80px 1fr;
  background-image: url(https://cdn.pixabay.com/photo/2018/03/02/13/38/vegetables-3193196_960_720.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.about__h3 {
  font-size: 30px;
  border-bottom: 1px solid white;
  padding: 15px;
}

.about__tarjeta {
  margin: 40px 0 30px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.home__clientes {
  min-height: 400px;
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
}

.precio {
  min-height: 500px;
}
.precio h3 {
  text-align: center;
}

.precio__cart {
  width: 600px;
  margin: 30px 0 30px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}

@media (max-width: 900px) {
  .header__container {
    height: 100%;
    width: 100%;
    min-width: 150px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
  }
  .header__title {
  }
  .title__h1 {
    font-size: 80px;
  }

  .title__h3 {
    font-size: 30px;
    font-weight: 600;
    font-family: "Manrope", sans-serif;
  }

  .title__p {
    font-size: 20px;
    font-weight: 800;
  }
  .home__about {
    min-height: 180px;
    width: 100%;
  }
  .about__tarjeta {
    margin: 40px 0 30px 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 35px;
  }
  .about__h3 {
    font-size: 25px;
    border-bottom: 1px solid white;
    padding: 15px;
  }
  .precio__cart {
    width: 280px;
    margin: 30px 0 30px 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 25px;
    align-items: center;
    justify-items: center;
  }
  .home__clientes {
    min-height: 300px;
    width: 100%;
    display: grid;
    align-items: center;
    justify-items: center;
  }
}
