.item__seccion__div {
  width: 100%;
  margin-top: 10px;
}

.edit__delete__item {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
  align-items: center;
  justify-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.418);
}

.edit__item__container {
  margin: 10px 0 10px 0;
  grid-column: 2/3;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 15px;
  align-items: center;
  justify-items: center;
}

.edit__input__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
}

.cancelar__edit {
  background-color: white;
  border-radius: 15px;
  border: 1px solid black;
  font-weight: 800;
  width: 80px;
  height: 30px;
}
.edit__precio {
  width: 150px;
}

.edit__precio input {
  width: 80px;
  height: 30px;
  border: none;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  padding: 0 0 0 10px;
}
.guardar__edit {
  height: 32px;
  width: 60px;
  border: none;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  background-color: rgb(0, 0, 0);
  color: white;
}

.edit__precio {
}
