.account {
  background-color: hsla(291, 0%, 100%, 1);
  background-image: radial-gradient(
      at 21% 15%,
      hsla(246, 96%, 78%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 42% 91%, hsla(305, 100%, 71%, 0.67) 0px, transparent 50%),
    radial-gradient(at 82% 32%, hsla(284, 100%, 65%, 0.8) 0px, transparent 50%);
  color: white;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: grid;
  align-items: center;
  justify-items: center;
  padding-top: 80px;
}

.account__container {
  width: 60%;
  max-width: 800px;
  min-width: 600px;
  background-color: rgba(248, 242, 242, 0.219);
  padding: 25px;
  border-radius: 15px;
  border: 1px solid white;
  display: grid;
  grid-gap: 20px;
  margin-bottom: 25px;
}

.account h1 {
  align-self: start;
}

.account__agregarItem {
  width: 50%;
  padding: 15px;
  display: grid;
  justify-self: center;
  align-self: center;
  align-items: center;
  justify-items: center;
  grid-gap: 20px;
}

.account__info__container {
  width: 100%;
  display: grid;
  grid-gap: 5px;
  position: relative;
}

.account__info__button {
  height: 40px;
  border: none;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  width: 100%;
}

.mostrar__info__p {
  justify-self: center;
  border-bottom: none;
  padding: 5px 10px 5px 10px;
  background-color: white;
  color: black;
  border-radius: 15px;
  cursor: pointer;
  font-weight: 700;
}

.account__info__close {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 28px;
  cursor: pointer;
}

.premium {
  justify-self: center;
  height: 40px;
  width: 120px;
  border-radius: 15px;
  background-color: rgb(212, 212, 212);
  color: black;
  display: grid;
  align-items: center;
  justify-items: center;
  box-shadow: rgb(38 50 56 / 16%) 0px 8px 16px,
    rgb(0 0 0 / 30%) 0px 4px 5px -4px, rgb(255 255 255 / 50%) 0px 2px 5px inset,
    rgb(0 0 0 / 20%) 0px -1px 3px inset;
}

.premium p {
  font-weight: 900;
  font-family: "Manrope", sans-serif;
  user-select: none;
}

.suscribirse__premium {
  background-color: #fff;
  padding: 15px;
  border-radius: 15px;
  display: grid;
  align-items: center;
  justify-items: center;
  box-shadow: rgb(38 50 56 / 16%) 0px 8px 16px,
    rgb(0 0 0 / 30%) 0px 4px 5px -4px, rgb(255 255 255 / 50%) 0px 2px 5px inset,
    rgb(0 0 0 / 20%) 0px -1px 3px inset;
  color: black;
  text-decoration: none;
  transition-duration: 0.3s;
}
.suscribirse__premium:hover {
  background-color: rgb(219, 219, 219);
}

.free {
  justify-self: center;
  height: 40px;
  width: 120px;
  border-radius: 15px;
  background-color: rgb(255, 255, 255);
  color: rgb(102, 102, 102);
  display: grid;
  align-items: center;
  justify-items: center;
}

.free p {
  font-weight: 600;
  font-family: "Manrope", sans-serif;
}
.seccion__container {
  justify-self: center;
  width: 250px;
  display: grid;
  align-items: center;
  justify-items: center;
  background-color: rgba(255, 255, 255, 0.541);
  border: 1px solid white;
  border-radius: 15px;
  padding: 15px;
  grid-gap: 10px;
  position: relative;
}
.seccion__container h2 {
  color: black;
}

.navbar__secciones__div {
  display: grid;
  width: 100%;
  justify-items: center;
  border-top: 1px solid rgba(0, 0, 0, 0.479);
}

.navbar__secciones__h3 {
  font-size: 25px;
  font-weight: 600;
  border-bottom: 1px solid rgba(0, 0, 0, 0.678);
  width: 200px;
  text-align: center;
  color: black;
  justify-self: center;
  font-size: 32px;
}
.seccion__form {
  width: 200px;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-gap: 15px;
}

.seccion__button {
  border: none;
  padding: 5px 10px 5px 10px;
  border-radius: 15px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.418);
  font-weight: 600;
}

.add__seccion__nueva {
  justify-self: center;
  padding: 5px 10px 5px 10px;
  border-radius: 15px;
  background-color: white;
  color: black;
  font-weight: 500;
  border: 1px solid rgba(138, 5, 5, 0.945);
  cursor: pointer;
}

.video__tutorial {
  color: white;
  background-color: black;
  padding: 5px 10px 5px 10px;
  border-radius: 15px;
  text-decoration: none;
}

@media (max-width: 900px) {
  .account {
    padding-top: 0px;
  }
  .account__container {
    width: 90%;
    max-width: 800px;
    min-width: 200px;
    background-color: rgba(248, 242, 242, 0.445);
    padding: 10px;
    border-radius: 15px;
    border: 1px solid white;
    display: grid;
    grid-gap: 20px;
    margin-bottom: 25px;
  }
  .seccion__container {
    justify-self: center;
    width: 250px;
    display: grid;
    align-items: center;
    justify-items: center;
    border: 1px solid white;
    border-radius: 15px;
    padding: 15px;
    grid-gap: 10px;
  }
}
