.carr {
  display: grid;
}
.carrito {
  top: 0;
  height: 600px;
  width: 260px;
  background-color: rgba(0, 0, 0, 0.904);
  backdrop-filter: blur(2px);
  position: fixed;
  margin: 30px 30px 0 0;
  border-radius: 8px;
  padding: 15px;
  display: grid;
  grid-template-rows: 80px 1fr 150px;
  justify-self: end;
  align-self: center;
  box-shadow: rgb(38 50 56 / 16%) 0px 8px 16px,
    rgb(0 0 0 / 30%) 0px 4px 5px -4px, rgb(255 255 255 / 50%) 0px 2px 5px inset,
    rgb(0 0 0 / 20%) 0px -1px 3px inset;
}

.show__carrito {
  height: 70px;
  width: 70px;
  display: grid;
  justify-self: end;
  margin: 30px 30px 0 0;
  background-color: black;
  border-radius: 50%;
  align-items: center;
  justify-items: center;
  position: fixed;
  cursor: pointer;
  box-shadow: rgb(38 50 56 / 16%) 0px 8px 16px,
    rgb(0 0 0 / 30%) 0px 4px 5px -4px, rgb(255 255 255 / 50%) 0px 2px 5px inset,
    rgb(0 0 0 / 20%) 0px -1px 3px inset;
}

.show__icon {
  font-size: 30px;
  color: white;
  position: absolute;
}

.show__unidades {
  height: 30px;
  width: 30px;
  box-shadow: rgb(38 50 56 / 16%) 0px 8px 16px,
    rgb(0 0 0 / 30%) 0px 4px 5px -4px, rgb(255 255 255 / 50%) 0px 2px 5px inset,
    rgb(0 0 0 / 20%) 0px -1px 3px inset;

  align-self: end;
  justify-self: start;
  background-color: red;
  border-radius: 50%;
  z-index: 100;
  display: grid;
  align-items: center;
  justify-items: center;
}

.show__unidades p {
  font-size: 20px;
  color: white;
}

.close {
  height: 50px;
  width: 120px;
  background-color: rgb(165, 10, 4);
  font-size: 15px;
  justify-self: center;
  align-self: end;
  cursor: pointer;
  bottom: -60px;
  position: absolute;
  display: grid;
  align-items: center;
  justify-items: center;
  border-radius: 15px;
  box-shadow: rgb(38 50 56 / 16%) 0px 8px 16px,
    rgb(0 0 0 / 30%) 0px 4px 5px -4px, rgb(255 255 255 / 50%) 0px 2px 5px inset,
    rgb(0 0 0 / 20%) 0px -1px 3px inset;
}

.close p {
  color: white;
  font-weight: 600;
}

.carrito__title {
  text-align: center;
  color: white;
  font-size: 25px;
  margin-top: 5px;
}

.carrito__container {
  display: grid;
  grid-template-rows: repeat(auto-fit, 30px);
  grid-gap: 10px;
}

.carrito__item {
  display: grid;
  align-items: center;
  grid-template-columns: 3.5fr 1fr 1fr 1fr;
}

.carrito__eliminar {
  font-size: 23px;
  color: white;
  justify-self: center;
  cursor: pointer;
}

.carrito__name {
  font-size: 16px;
  color: white;
}

.carrito__precio {
  font-size: 18px;
  color: white;
  font-weight: 600;
}

.total__container {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-gap: 10px;
}

.total {
  text-align: center;
  font-size: 20px;
  color: white;
}

.total__reset {
  border: none;
  padding: 5px 9px 5px 9px;
  border-radius: 15px;
  background-color: aliceblue;
  cursor: pointer;
}

.realizar__pedido {
  cursor: pointer;
  border: none;
  padding: 10px 15px 10px 15px;
  border-radius: 15px;
  background-color: aliceblue;
  font-weight: 600;
}

.button__hidden {
  display: none;
}

.confirmar {
  cursor: pointer;
  background-color: brown;
  color: white;
}

.wpp {
  background-color: #25d366;
}

.wpp a {
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px #000000;
}

@media (max-width: 900px) {
  .carrito {
    height: 660px;
    width: 300px;
    margin: 15px 0 0 0;
    justify-self: center;
    box-shadow: 1px 1px 128px 117px rgba(23, 15, 0, 0.77);
    -webkit-box-shadow: 1px 1px 128px 117px rgba(23, 15, 0, 0.77);
    -moz-box-shadow: 1px 1px 128px 117px rgba(23, 15, 0, 0.77);
  }
  .carrito__item {
  }
  .show__carrito {
    height: 60px;
    width: 60px;
  }
  .carrito__container {
    margin-top: 20px;
    grid-gap: 20px;
  }
  .carrito__eliminar {
    font-size: 30px;
  }
  .carrito__name {
    font-size: 18px;
  }

  .carrito__precio {
    font-size: 20px;
  }
}

@media (max-height: 700px) {
  .carrito {
    height: 530px;
  }
}
