.carr {
  display: grid;
}
.carrito {
  top: 0;
  height: 600px;
  width: 250px;
  background-color: rgba(0, 0, 0, 0.822);
  backdrop-filter: blur(2px);
  position: fixed;
  margin: 30px 30px 0 0;
  border-radius: 15px;
  padding: 15px;
  display: grid;
  grid-template-rows: 80px 1fr 200px;
  justify-self: end;
  align-self: center;
}

.show__carrito {
  height: 70px;
  width: 70px;
  display: grid;
  justify-self: end;
  margin: 30px 30px 0 0;
  background-color: black;
  border-radius: 50%;
  align-items: center;
  justify-items: center;
  position: fixed;
  cursor: pointer;
}

.show__icon {
  font-size: 30px;
  color: white;
  position: absolute;
}

.show__unidades {
  height: 30px;
  width: 30px;

  align-self: end;
  justify-self: start;
  background-color: red;
  border-radius: 50%;
  z-index: 100;
  display: grid;
  align-items: center;
  justify-items: center;
}

.show__unidades p {
  font-size: 20px;
  color: white;
}

.close {
  font-size: 50px;
  justify-self: end;
  margin: 10px 10px 0 0;
  cursor: pointer;
}

.carrito__title {
  text-align: center;
  color: white;
  font-size: 30px;
  margin-top: 5px;
}

.carrito__container {
  display: grid;
  grid-template-rows: repeat(auto-fit, 30px);
  grid-gap: 10px;
}

.carrito__item {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
}

.carrito__eliminar {
  font-size: 23px;
  color: white;
  justify-self: center;
  cursor: pointer;
}

.carrito__name {
  font-size: 16px;
  color: white;
}

.carrito__precio {
  font-size: 18px;
  color: white;
  font-weight: 600;
}

.total__container {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-gap: 10px;
}

.total {
  text-align: center;
  font-size: 25px;
  color: white;
}

.total__reset {
  border: none;
  padding: 5px 9px 5px 9px;
  border-radius: 15px;
  background-color: aliceblue;
  cursor: pointer;
}

.realizar__pedido {
  cursor: pointer;
  border: none;
  padding: 10px 15px 10px 15px;
  border-radius: 15px;
  background-color: aliceblue;
  font-weight: 600;
}

.confirmar {
  cursor: pointer;
  background-color: brown;
  color: white;
}

.wpp {
  background-color: #25d366;
}

.wpp a {
  text-decoration: none;
  color: white;
  text-shadow: 1px 1px #000000;
}

@media (max-width: 900px) {
  .carrito {
    height: 700px;
    width: 300px;
  }
  .show__carrito {
    height: 60px;
    width: 60px;
  }
  .carrito__container {
    margin-top: 20px;
    grid-gap: 20px;
  }
  .carrito__eliminar {
    font-size: 30px;
  }
  .carrito__name {
    font-size: 18px;
  }

  .carrito__precio {
    font-size: 20px;
  }
}
