.navbar {
  height: 60px;
  width: 100%;
  background-color: black;
  position: fixed;
  top: 0;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-items: center;
  z-index: 100;
}

.navbar__none {
  display: none;
}

.navbar__img {
  height: 40px;
  width: 100px;
  display: grid;
  align-items: center;
  color: white;
}

.botonera {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  grid-gap: 10px;
  list-style: none;
}

.botonera li {
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.botonera li:hover {
  color: aqua;
}

@media (max-width: 900px) {
  .navbar {
    height: 60px;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
    z-index: 100;
    display: none;
  }
  .botonera {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    grid-gap: 10px;
    list-style: none;
  }
  .botonera li {
    color: white;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
  }
}
