#footer {
  background-color: black;
  color: white;
  display: grid;
  align-items: center;
}
.footer {
  padding: 10px 0 10px 0;
  text-align: center;
}
.footer a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

span {
  font-weight: 600;
}
