.menu {
  width: 600px;
  min-height: 600px;
  background-color: rgba(240, 248, 255, 0.658);
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 20px;
}

.menu__h3 {
  text-align: center;
  font-size: 35px;
  margin: 15px 0 15px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.281);
}

.menu__navbar {
  min-height: 80px;
  width: 600px;
  margin: 20px 0 20px 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 15px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.menu__link {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border-radius: 5px;
  padding: 10px 15px 10px 15px;

  -webkit-box-shadow: rgb(38 50 56 / 16%) 0px 8px 16px,
    rgb(0 0 0 / 30%) 0px 4px 5px -4px, rgb(255 255 255 / 50%) 0px 2px 5px inset,
    rgb(0 0 0 / 20%) 0px -1px 3px inset;
  box-shadow: rgb(38 50 56 / 16%) 0px 8px 16px,
    rgb(0 0 0 / 30%) 0px 4px 5px -4px, rgb(255 255 255 / 50%) 0px 2px 5px inset,
    rgb(0 0 0 / 20%) 0px -1px 3px inset;
  text-decoration: none;
  color: black;
  font-size: 17px;
  text-align: center;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center;
  font-weight: 900;
  cursor: pointer;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.menu__link:hover {
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
}

.menu__link:active {
  -webkit-transform: scale(0.99);
  -ms-transform: scale(0.99);
  transform: scale(0.99);
}

.menu__navbar a p {
  font-weight: 600;
}

.hambur {
  width: 100%;
  display: grid;
  grid-gap: 25px;
}

.menu__title {
  font-weight: 900;
  font-size: 30px;
  padding: 0 0 5px 0;
}

.menu__seccionItems {
  display: grid;
  grid-gap: 15px;
}

.menu__top {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: black;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0 10px 10px 0;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center;
  -webkit-box-shadow: rgb(38 50 56 / 16%) 0px 8px 16px,
    rgb(0 0 0 / 30%) 0px 4px 5px -4px, rgb(255 255 255 / 50%) 0px 2px 5px inset,
    rgb(0 0 0 / 20%) 0px -1px 3px inset;
  box-shadow: rgb(38 50 56 / 16%) 0px 8px 16px,
    rgb(0 0 0 / 30%) 0px 4px 5px -4px, rgb(255 255 255 / 50%) 0px 2px 5px inset,
    rgb(0 0 0 / 20%) 0px -1px 3px inset;
}

.menu__top__item {
  color: white;
  font-size: 25px;
  z-index: 100;
}

@media (max-width: 900px) {
  .menu {
    width: 90%;
  }

  .menu__navbar {
    min-height: 120px;
    width: 100%;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    grid-gap: 10px;
  }

  .menu__link {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 15px;

    -webkit-box-shadow: rgb(38 50 56 / 16%) 0px 8px 16px,
      rgb(0 0 0 / 30%) 0px 4px 5px -4px,
      rgb(255 255 255 / 50%) 0px 2px 5px inset,
      rgb(0 0 0 / 20%) 0px -1px 3px inset;
    box-shadow: rgb(38 50 56 / 16%) 0px 8px 16px,
      rgb(0 0 0 / 30%) 0px 4px 5px -4px,
      rgb(255 255 255 / 50%) 0px 2px 5px inset,
      rgb(0 0 0 / 20%) 0px -1px 3px inset;
    text-decoration: none;
    color: black;
    font-size: 16px;
    display: grid;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-items: center;
  }
  .menu__link:hover {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
