.perfil {
  width: 500px;
  height: 100%;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center;
}

.logoUsuario {
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center;
  align-self: end;
}

.logo {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  background-color: rgb(88, 54, 54);
  display: grid;
  align-items: center;
  justify-items: center;
}
.logo__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.usuario {
  font-size: 20px;
  margin-top: 10px;
  -ms-flex-item-align: end;
  align-self: end;
}

.redes {
  -ms-flex-item-align: start;
  align-self: start;
}
.redes__icon {
  font-size: 25px;
  margin: 0 5px 0 5px;
  color: rgb(0, 0, 0);
}

@media (max-width: 900px) {
  .perfil {
    width: 300px;
  }
}
