.menu__item {
  min-height: 120px;
  width: 100%;
  border: 1px solid black;
  border-radius: 15px;
  display: grid;
  grid-template-columns: 1.9fr 1fr;
}

.item__info {
  padding: 10px;
}

.item__precio {
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  align-items: center;
  grid-gap: 10px;
  margin-right: 5px;
}

.precio {
  font-size: 40px;
  justify-self: end;
}

.cantidad__container {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-gap: 10px;
}
.cantidad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-items: center;
  background-color: rgba(0, 0, 0, 0.815);
  border-radius: 15px;
  padding: 5px 8px 5px 8px;
}

.cantidad p {
  font-size: 20px;
  font-weight: 600;
  color: white;
}

.precio__icon {
  font-size: 30px;
  justify-self: start;
  color: white;
}

.agregarItem {
  border: none;
  background-color: rgb(172, 0, 0);
  color: white;
  padding: 7px;
  border-radius: 15px;
  font-weight: 600;
}

@media (max-width: 900px) {
  .item__precio {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    align-items: center;
    grid-gap: 10px;
  }

  .precio {
    font-size: 40px;
    justify-self: center;
  }

  .cantidad__container {
    margin-bottom: 10px;
  }

  .agregarItem {
    padding: 7px;
    border-radius: 15px;
    font-weight: 600;
    font-size: 18px;
  }
}
