.App {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: grid;
  padding-top: 50px;
  background-color: #ffda99;
  background-color: #ff99a8;
  background-image: radial-gradient(
      at 97% 90%,
      hsla(260, 98%, 64%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 62% 94%, hsla(201, 61%, 66%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 77%, hsla(240, 99%, 65%, 1) 0px, transparent 50%),
    radial-gradient(at 77% 56%, hsla(333, 77%, 79%, 1) 0px, transparent 50%),
    radial-gradient(at 43% 23%, hsla(56, 70%, 78%, 1) 0px, transparent 50%),
    radial-gradient(at 60% 8%, hsla(256, 88%, 78%, 1) 0px, transparent 50%),
    radial-gradient(at 57% 31%, hsla(308, 87%, 79%, 1) 0px, transparent 50%);
}

#perfil {
  width: 100%;
  height: 300px;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center;
}

#menu {
  width: 100%;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center;
}
#footer {
  background-color: black;
  color: white;
}
.footer {
  padding: 10px 0 10px 0;
  text-align: center;
}
.footer a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

span {
  font-weight: 600;
}

@media (max-width: 900px) {
  .App {
    width: 100vw;
    padding-top: 50px;
  }

  #perfil {
    width: 100%;
  }
}
