.arrayContainer {
  display: grid;
  justify-items: center;
}

.arrayitem {
  min-width: 550px;
  max-width: 550px !important;
  padding: 15px;
  border-radius: 10px;
  color: black;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.849);
  width: 95%;
  justify-self: center;
  display: grid;
  justify-items: center;
}

.agregar__item {
  height: 100%;
  width: 100%;
  max-width: 350px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}
.add__show {
  display: grid;
}
.add__hidden {
  display: none;
}
.delete__item {
  height: 30px;
  width: 120px;
  border: 1px solid rgba(0, 0, 0, 0.418);
  background-color: rgb(253, 253, 253);
  border-radius: 15px;
  color: black;
  margin: 10px 0 10px 0;
  font-weight: 600;
}
.delete__item:hover {
  background-color: brown;
  color: white;
}

.delete__seccion {
  height: 40px;
  width: 120px;
  border: none;
  background-color: brown;
  border-radius: 15px;
  color: white;
  margin: 10px 0 10px 0;
}
.delete__seccion:hover {
  font-weight: 800;
}

.agregar__item__button {
  height: 100px;
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
}

.navbar__secciones {
  display: grid;
  align-items: center;
  justify-items: center;
}

.secciones {
  margin: 0;
}

.reordenar__icon {
  color: rgba(0, 0, 0, 0.671);
  font-size: 24px;
  position: absolute;
  margin: 15px 0 0 15px;
  justify-self: start !important;
}
.reordenar__icon:active {
  color: rgba(6, 160, 180, 0.671);
}

@media (max-width: 900px) {
  .arrayitem {
    min-width: 280px;
    padding: 5px;
    border-radius: 10px;
    color: black;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.849);
    width: 350px;
    display: grid;
    justify-items: center;
  }
  .delete__item:hover {
    background-color: white;
    color: black;
  }
  .reordenar__icon {
    color: rgba(0, 0, 0, 0.671);
    font-size: 24px;
    position: absolute;
    margin: 10px 0 0 10px;
  }
}
