.arrayContainer {
  display: grid;
  justify-items: center;
}

.arrayitem {
  min-width: 550px;
  padding: 15px;
  border-radius: 10px;
  color: black;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.849);
  width: 50%;
  display: grid;
  justify-items: center;
}

.arrayitem__title {
  align-self: center;
  height: 40px;
  width: 90%;
  text-align: center;
  margin-bottom: 15px;
  font-size: 30px;
  border-bottom: 1px solid black;
}

.agregar__item {
  height: 100%;
  width: 100%;
  max-width: 350px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
}
.add__show {
  display: grid;
}
.add__hidden {
  display: none;
}
.delete__item {
  height: 30px;
  width: 120px;
  border: 1px solid rgba(0, 0, 0, 0.418);
  background-color: rgb(253, 253, 253);
  border-radius: 15px;
  color: black;
  margin: 10px 0 10px 0;
  font-weight: 600;
}
.delete__item:hover {
  background-color: brown;
  color: white;
}

.delete__seccion {
  height: 40px;
  width: 120px;
  border: none;
  background-color: brown;
  border-radius: 15px;
  color: white;
  margin: 10px 0 10px 0;
}
.delete__seccion:hover {
  font-weight: 800;
}

.agregar__item__button {
  height: 100px;
  width: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
}

.navbar__secciones {
  display: grid;
  align-items: center;
  justify-items: center;
}

.secciones {
  margin: 0;
}

@media (max-width: 900px) {
  .arrayitem {
    min-width: 280px;
    padding: 5px;
    border-radius: 10px;
    color: black;
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.849);
    width: 100%;
    display: grid;
    justify-items: center;
  }
  .delete__item:hover {
    background-color: white;
    color: black;
  }
}
