.arrayitem__title {
  align-self: center;
  height: 40px;
  width: 90%;
  text-align: center;
  margin-bottom: 15px;
  font-size: 30px;
  border-bottom: 1px solid black;
}
.array__verMas {
  height: 30px;
  width: 200px;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 40px 1fr;
  margin-bottom: 15px;
  color: rgb(2, 1, 1);
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.295);
  cursor: pointer;
}
.array__verMas:hover {
  background-color: black;
  color: white;
}
.array__verMas h3 {
  font-size: 16px;
}

.array__arrow {
  font-size: 30px;
}

.ordenar__seccions {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-gap: 15px;
}
.ordenar__seccions p {
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  border: 1px solid rgba(0, 0, 0, 0.425);
  cursor: pointer;
  font-weight: 600;
}

.ordenar__p {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}
.ordenar__p p {
  background-color: black;
  padding: 10px;
  border-radius: 15px;
  color: white;
  font-weight: 900;
  cursor: pointer;
}
@media (max-width: 900px) {
  .arrayitem__title {
    align-self: center;
    height: 40px;
    width: 90%;
    text-align: center;
    margin-bottom: 15px;
    font-size: 24px;
    border-bottom: 1px solid black;
  }
  .array__verMas:hover {
    background-color: white;
    color: black;
  }
}
